.footer-gen{
	padding-bottom: 0px;
	background-image: url('imagenes/spiration dark.png');
}
.foot-red-soc{
	font-size: 20px;
	color: white;
}
.body-index{
	background-image: url('imagenes/circles-light.png');
	margin-top: 0px;
}
.body-index-2{
	background-image: url('imagenes/light-veneer.png');
	margin-top: 0px;
}
.texto-carrusel{
	color: white;
	background-color: #829356;
}
.carrusel{
	padding-top: 0px;
	background-image: url('imagenes/wormz.png');

}
.lista{
	float: left;
	list-style-type: none;
	margin-right: 0px;	
	font-size: 18px;
	margin-right: 0px;
	margin-top: 5px;
}
.fuente-formulario{
	color: white;
}
.color-navbar{
	background-color: #33ccff;
}
.titulo-fundacion{
	font-size: 20px;
}
.autor{
	 color: #999900;
}
.titulo-noticia{
	color: #ff6600;
}
.negrita{
	font-weight: bold;
}